/* CSS file for week 6 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------
    Start of main code
------------------------------------ */

html{
    font-size: 22px;
    /* setting a default font for the whole page
    always provide a list of fonts as back up options - end with generic font type */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: red;
    /* apply background image */
    background-image: url("../images/white_brick_wall.png");
    background-repeat: no-repeat;
}

.sizing{
    /* borders require 3 elements: size, colour, and type */
    border: 5px blue solid;
    /* width: 200px;
    height: 200px; */
    width: 50%;
    height: 50%;
    font-size: 10px;
}

.using-rem{
    /* based on the default font size for the html */
    font-size: 2rem;
}

.using-em{
    /* based on the font size of the elements parent element */
    font-size: 2em;
}

.using-viewport{
    /* viewport responds to the size of the browser */
    background-color: blue;
    width: 40vw;
    height: 40vh;

    /* background-image: url("../images/bread.jpg");
    /* you can control the location of the image
    horizontal comes first 
    background-position: 40px 20px;
    background-repeat: no-repeat; */

    /* the background shorthand replaces the indivual elements and puts them in one line of code */
    background: blue url("../images/bread.jpg") no-repeat right bottom;


}

.using-percent{
    /* percent responds to the size of the parent element */
    background-color: whitesmoke;
    width: 80%;
    height: 50%;

    /* CSS typography options */
    font-size: 16px;
    /* you can set font size using any unit of mesaurement */
    
    line-height: 1.3em;
    /* Line height is for font only
    EM size is relative to the font size set above */

    font-weight: bold;
    /* font weight is how thick the font is */
    font-style: italic;
    /* style adds things like italic */
    letter-spacing: 0.1em;
    /* set the distance between the letters (kerning) */
    text-decoration: none;
    /* this will remove the underline from links */
}

.image-contain, .image-cover{
    border: black 3px solid;
    width: 50vw;
    height: 20vh;
    background-image: url("../images/bread.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

/* background-size allows you to scale your images - either a fixed value or cover or contain */

.image-contain{
    /* will ensure the background will always be contained within the element */
    background-size: contain;
}

.image-cover{
    /* cover will scale the background so that it always covers the whole element */
    background-size: cover;
}